
@font-face {
  font-family: VT323;
  src: url(font/VT323-Regular.ttf);
}



html {
	background:#00060C;
}







div {
font-family: VT323;
color:white;
background:#00060C; }




#header {
	background: url("astolfo1.png") no-repeat center center fixed;
	background-position: right;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	height: 500px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-width: 10px;
	}




.format {
		margin: auto;
		text-align: center;
}






img.animated-gif{
	width: 1000px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}












#left {
	position: absolute;
	left: 20px;
	top: 10px;
	z-index: -1;
	height: 500px;
	width: 300px;
	border: solid;
	background: black;
	color: white;
	}
.text {
	color: red;
	text-decoration: bold;
	text-align: center;
	background: black;
	border: solid;
	hight: auto;
	width: 200px;
	}
.text2 {
	text-align: center;
	}
.right {
	float: right;
	}
.left {
	float: left;
	}
	